@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');

/* Global */
* {
  box-sizing: border-box
}

html, body, #root {
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
